header{
    overflow: hidden;
    background-color: #212529;
    padding: 15px;
    background-image: url('background-black.jpg');
}

.header-right a{
    float: right;
        display: block;
        color: #b0b0b0;
        padding: 15px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;


}
.header{
    float:left;
    opacity: 80%;
}
.header:hover{
opacity:100%;
}


.header-right a{
background-color: #212529;
}
.header img{
border-radius: 35%;
}
        table{
            border: 2px solid black;
            margin-top: 5%;
            margin-bottom:25%;
            margin-left: auto;
            margin-right: auto;
            padding-left: 2.5em;
            padding-right: 2.5em;
            padding-top:2.4em ;
            padding-bottom: 4.5em;
            table-layout:initial;
            background-color: aliceblue;
           opacity: 50%;
        }
.about{
    background-color: lightgrey;
                        width: 100%;
                        border: 15px solids;
                        padding: 50px;
                        margin: 20px;
}
.ver-head h3{
    color:#000;
    word-spacing: 10px;
   display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform:rotate(-90deg) ;
  position: relative;
  position: relative;
  top:70px;
  left:-60px;

}
.ver-head h2{
    left:-60px;
    margin-left: 40px;
}